<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jaiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jaiz.styiles.css" asp-append-version="true" />
</head>
<body style="font-family: Times New Roman; word-spacing: 5px;">
    <header>
        <div class="container" align="right" style="margin-top: 40px; margin-bottom: 40px;">
             <img src="images/jaiz.jpeg" alt="Sample Photo" width="200" height="200"/>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer >
        <div class="container" align="center">
            <hr style="border-top: 3px dashed #bbb;" color="#FFFFFF">
            Thanks for using JAIZ BANK POS
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
